.gridBox {
    background-color: yellow;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridButton {
    background-color: white;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamePiece {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.buttonDiv {
    width: 50px;
    height: 50px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons {
    background-color: rgb(64, 64, 64);
    color: white;
    border: none;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
}

.gridTopLeft {
    border-top-left-radius: 10px;
}

.gridTopRight {
    border-top-right-radius: 10px;
}
.gridBottomLeft {
    border-bottom-left-radius: 10px;
}

.gridBottomRight {
    border-bottom-right-radius: 10px;
}

